<section>

  <div class="row images">
    {{#each model as |photo|}}
      <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3 image">
        {{#link-to 'gallery.photo' photo}}{{img photo.thumb thumbnail=1 class='center-block'}}{{/link-to}}
      </div>
    {{/each}}
  </div>

</section>