<section id="home">

  <h2>Norman Lyle Stromer</h2>

  <p>
  {{lorem-img 300 450 type='people' number=4 class='center-block sm-pull-left'}}

    <strong>Born</strong> 17 July 1931 <br>
    <strong>Died</strong> 31 July 1981
  </p>

</section>